<!DOCTYPE html>
<html>
<head>
	<title>Central de comando</title>
	<%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/Djime-Cerulean/style", "web-app-theme/override", :cache => true %>
	<%= javascript_include_tag :defaults, :cache => true %>
	<%= csrf_meta_tag %>
</head>
<body>

	<div id="header">
		<h1><a href="/">Central de comando</a></h1>
		<div id="user-navigation">
			<ul class="wat-cf">
				<!--
				<li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
				<li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
				<li><%= link_to t("web-app-theme.logout", :default => "Logout") , session_path, :method => :delete %></li>
				-->
			</ul>
		</div>

	</div>    


	<div id="box">


		<div class="block" id="block-login">
			<h2>Acessar</h2>
			<div class="content login">
				<br>
				<%= form_for :session, :html => {:class => "form login"}, :url => session_path do |form| %>
				<div class="group wat-cf">
					<div class="left">
						<label class="label right">Login</label>
					</div>
					<div class="right">
						<%= form.text_field :username, :type => "username", :value => "-your name-", :class => "text_field"%>
					</div>
				</div>
				<div class="group wat-cf">
					<div class="left">
						<label class="label right">Password</label>
					</div>
					<div class="right">
						<%= form.password_field :password, :value => "-password-", :class => "text_field" %>
					</div>
				</div>
				<div class="group navform wat-cf">
					<div class="right">
						<button class="button" type="submit">
							<%= image_tag("web-app-theme/icons/key.png", :alt => "#{t("web-app-theme.login", :default => "Login")}") %> <%= t("web-app-theme.login", :default => "Login") %>
						</button>
					</div>
				</div>
				<% end %>
				<%= link_to "Cadastra-se agora", sign_up_path%>
			</div>
		</div>

	</div>
	
	<div id="space">
		
	</div>

	<div id="footer">
		<div class="block">
			<p>Todos os direitos reservado &copy; <%= Time.now.year %> Web App.</p>
		</div>      
	</div>


</body>
</html>


