<fieldset id="_comentarios_" class="" style="padding: 10px">
	<legend>&nbsp;Comentários&nbsp;</legend>
	
	<% Comment.order("created_at desc").where("comment_type = ? and process_id = ?", type, id).each do |c| %>
		Criado por: <%= c.user.name%> em <%= c.created_at.strftime('%d/%m/%Y %H:%M')%><br>
		<textarea readonly = true style = "width:100%; height: auto; background-color: #F7F7F8; border: 0; font-style: italic; font-size: 14px"><%=c.comment%>
		  </textarea>
		<%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", comment_path(c), :remote => true, :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
		<hr style="height: 1px; color: #000; background-color: #000;"/>
		<br>
	<% end %>
	
	<% form_for f, :remote => true do |f| -%>
	    <%= f.hidden_field :comment_type, :value => type %>
	    <%= f.hidden_field :process_id, :value => id %> 
	    <%= f.text_area :comment, :style => "width:100%; height: 100px;"%>	    
	
		<div class="group navform wat-cf">
		  <button class="button" type="submit">
		    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.add", :default => "Add")}") %> <%= t("web-app-theme.add", :default => "Add") %>
		  </button>
		</div>
	<% end -%>
	
</fieldset>

