 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.user.email", :default => "Email") %></label>
     <div class="input">
       <%= f.text_field :email, :class => "xlarge" %>
     </div>
  </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.user.username", :default => "Username") %></label>
     <div class="input">
       <%= f.text_field :username, :class => "xlarge" %>
     </div>
  </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.user.name", :default => "Name") %></label>
     <div class="input">
       <%= f.text_field :name, :class => "xlarge" %>
     </div>
  </div>
 
   
 
   <div class="clearfix">
     <label for="xlInput">Password</label>
     <div class="input">
       <%= f.password_field :password, :class => "xlarge" %>
     </div>
  </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.user.admin", :default => "Admin") %></label>
     <div class="input">
       <%= f.check_box :admin, :class => "xlarge" %>
     </div>
  </div>
       

<div class="actions">
  <input type="submit" class="btn large primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), cc_users_path, :class => "btn large" %>
</div>

