<ul class="tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", cc_users_path  %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_cc_user_path %></li>
</ul>
<h2 class="title"><%= t("bootstrap-rails.new", :default => "New")%>  Usuário</h2> 
<%= form_for :user, :url => cc_users_path, :html => { :class => "form-stacked" } do |f| -%>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>


<% content_for :sidebar, render(:partial => 'sidebar') -%>
