<script type="text/javascript">
tinyMCE.init({
	// General options
	mode : "textareas",
	theme : "advanced",
	plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

	// Theme options
	theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
	theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
	theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
	theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
	theme_advanced_toolbar_location : "top",
	theme_advanced_toolbar_align : "left",
	theme_advanced_statusbar_location : "bottom",
	theme_advanced_resizing : true,

	// Example content CSS (should be your site CSS)
	content_css : "css/example.css",

	// Drop lists for link/image/media/template dialogs
	template_external_list_url : "js/template_list.js",
	external_link_list_url : "js/link_list.js",
	external_image_list_url : "js/image_list.js",
	media_external_list_url : "js/media_list.js",

	// Replace values for the template plugin
	template_replace_values : {
		username : "Some User",
		staffid : "991234"
	}
});
</script>     
<div class="page-header">
	<h2><%= @specification.title%></h2>
</div>
<%= form_tag specification_specification_fields_path, :method => :post,  :class => "form-stacked",  :multipart => true  do %> 
<% @specification_fields.each do |specification_field| -%>   
<div class="clearfix">
	<div class="input">         
		<% case specification_field.field_type %> 
		<% when FieldType::TEXT %>              
		<label for="xlInput"><%= specification_field.label%></label>
		<%= text_field_tag "field_#{specification_field.id}", specification_field.value_text, :class => "span14" %> 
		<% when FieldType::MEMO %>
		<label for="xlInput"><%= specification_field.label%></label>
		<%= text_area_tag "field_#{specification_field.id}", specification_field.value_memo, :class => "span14" %>  
		<% when FieldType::DATE %>
		<label for="xlInput"><%= specification_field.label%></label>
		<%= text_field_tag "field_#{specification_field.id}", specification_field.value_date, :class => 'datepicker' %>  
		<% when FieldType::NUMBER %>
		<label for="xlInput"><%= specification_field.label%></label>
		<%= number_field_tag "field_#{specification_field.id}" %>
		<% when FieldType::IMAGE %>
		<label for="xlInput"><%= specification_field.label%></label>
		<%= image_tag specification_field.value_image.url %><br>
		<%= link_to "Alterar imagem", edit_specification_specification_field_path(@specification, specification_field), :remote => true %> 
		<% end %>
	</div>
</div>
<% end -%>   
<input type="submit" class="btn primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), specifications_path, :class => "btn" %>          
<% end -%>

<div id="add_image">
</div>
