<!DOCTYPE html>
<html>
<head>
	<title>Central de comando</title>
	<%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/Djime-Cerulean/style", "web-app-theme/override", :cache => true %>
	<%= javascript_include_tag :defaults, :cache => true %>
	<%= csrf_meta_tag %>
</head>
<body>

	<div id="header">
		<h1><a href="/">Central de comando</a></h1>
		<div id="user-navigation">
			<ul class="wat-cf">
				<!--
				<li><a href="#"><%= t("web-app-theme.profile", :default => "Profile") %></a></li>
				<li><a href="#"><%= t("web-app-theme.settings", :default => "Settings") %></a></li>
				<li><%= link_to t("web-app-theme.logout", :default => "Logout") , session_path, :method => :delete %></li>
				-->
			</ul>
		</div>

	</div>    


	<div id="box">


		<div class="block" id="block-signup">
			<h2>Nova conta</h2>
			<div class="content login">
				<br>
				<%= form_for @user, :html => {:class => "form login"}, :url => session_path do |form| %>
				<div class="group wat-cf">
					<div class="left">
						<label class="label">Usuário</label>
					</div>
					<div class="right">
						<%= form.text_field :username, :type => "username", :class => "text_field"%>
					</div>
				</div>
				<div class="group wat-cf">
					<div class="left">
					     <label class="label">Nome</label>	
					</div>
					<div class="right">
						 <%= form.text_field :name, :type => "name", :class => "text_field" %>
					</div>
				</div>
				<div class="group wat-cf">
					<div class="left">
						<label class="label">Email</label>
					</div>
					<div class="right">
						 <%= form.text_field :email, :type => "email", :class => "text_field" %>
					</div>
				</div>
				<div class="group wat-cf">
					<div class="left">
						<label class="label">Senha</label>
					</div>
					<div class="right">
						<%= form.password_field :password, :class => "text_field" %>
					</div>
				</div>
				<div class="group navform wat-cf">
					<div class="right">
						<button class="button" type="submit">
							<%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.sign_up", :default => "Cadastrar")}") %> <%= t("web-app-theme.sign_up", :default => "Cadastrar") %>
						</button>
						
						<span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
							<%= link_to t("web-app-theme.back", :default => "Voltar"), home_path, :class => "text_button_padding link_button" %>
					</div>
				</div>
				<% end %>
			</div>
		</div>

	</div>
	
	<div id="space">
		
	</div>

	<div id="footer">
		<div class="block">
			<p>Copyright &copy; <%= Time.now.year %> Web App.</p>
		</div>      
	</div>


</body>
</html>


