<ul class="tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", clients_path  %></li> 
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_client_path %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_client_path %></li>
</ul>
<h2 class="title"><%= t("bootstrap-rails.edit", :default => "Edit") %> Client</h2>                            

<%= form_for @client, :url => client_path(@client), :html => { :class => "form-stacked" } do |f| -%>
    <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>                        

<% content_for :sidebar, render(:partial => 'sidebar') -%> 

