<ul class="tabs"> 
	<li class="active"><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", clients_path  %></li>  
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_client_path %></li>
</ul>   
<h2 class="title"><%= t("bootstrap-rails.all", :default => "All")  %> Clients
<table class="bordered-table zebra-striped">
    <thead>             
      <th>#</th>   
            <th><%= t("activerecord.attributes.client.name", :default => "Name") %></th>
            <th><%= t("bootstrap-rails.created_at", :default => "Created at")  %></th>
      <th class="last">&nbsp;</th>
    </thead>                         
    <tbody>
      	<% @clients.each do |client| -%>
        <tr>
          <td><%= client.id %></td>
                    <td><%= link_to client.name, client_path(client) %></td>
                    <td><%= client.created_at %></td>
          <td>
            <%= link_to "#{t("bootstrap-rails.show", :default => "Show")}", client_path(client) %> |
            <%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_client_path(client) %> |
            <%= link_to "#{t("bootstrap-rails.delete", :default => "Delete")}", client_path(client), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
    </tbody>
</table>
             

<%= will_paginate @clients %> 

<% content_for :sidebar, render(:partial => 'sidebar') -%>
