<ul class="tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", clients_path  %></li> 
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_client_path %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.show", :default => "Show")}", client_path %></li>
</ul>    


    <p>
      <b><%= t("activerecord.attributes.client.name", :default =>"Name") %>:</b>
      <%= @client.name %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.client.account_id", :default =>"Account") %>:</b>
      <%= @client.account_id %>
    </p>
                  

<div class="actions">
	<%= link_to t("ootstrap-rails.edit", :default=> "Edit"), edit_client_path(@client), :class => "btn large primary" %>
    <%= link_to t("ootstrap-rails.delete", :default => "Delete"), client_path(@client), :method => "delete", :class => "btn large", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
</div>      
    
<% content_for :sidebar, render(:partial => 'sidebar') -%>

