<ul class="tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", charts_path  %></li> 
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_chart_path %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_chart_path %></li>
</ul>
<h2 class="title"><%= t("bootstrap-rails.edit", :default => "Edit") %> Chart</h2>                            

<%= form_for @chart, :url => chart_path(@chart), :html => { :class => "form-stacked" } do |f| -%>
    <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>                        

<% content_for :sidebar, render(:partial => 'sidebar') -%> 

