
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.sprint.sequence", :default => "Sequence") %></label>
     <div class="input">
       <%= f.text_field :sequence, :class => "xlarge" %>
     </div>
  </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.sprint.date_of_beginning", :default => "Date of beginning") %></label>
     <div class="input">
       <%= f.date_select :date_of_beginning, :class => "xlarge" %>
     </div>
  </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.sprint.date_of_end", :default => "Date of end") %></label>
     <div class="input">
       <%= f.date_select :date_of_end, :class => "xlarge" %>
     </div>
  </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.sprint.capacity", :default => "Capacity") %></label>
     <div class="input">
       <%= f.text_field :capacity, :class => "xlarge" %>
     </div>
  </div>
       

<div class="actions">
  <input type="submit" class="btn large primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), sprints_path, :class => "btn large" %>
</div>

