<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      	<li class="first"><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", sprints_path  %></li>
	    <li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_sprint_path %></li>
	    <li class="active"><%= link_to "Planning", planning_sprint_path %></li>
    </ul>
  </div>          
  <div class="content">          
    <h2 class="title">Sprint: <%= @sprint.sequence%> (Projeto: <%=@sprint.project.name%>) </h2>
    <div class="inner">
      <%= render :partial => 'planning_list' %>

      <div id="ticket_sprint_form">
	    <%= render :partial => "form_ticket_sprint", :locals => {:sprint_id => @sprint.id}%>
	</div>
    </div>
    
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
