
<div class="clearfix">
 <label for="xlInput">Código</label>
 <div class="input">       
	<%= text_field_tag(:with_id, params[:with_id], :class => 'span3')%>
 </div>
</div>

<div class="clearfix">
 <label for="xlInput">Status</label>
 <div class="input">      
	<%= select_tag :with_status, options_from_collection_for_select(TicketStatus.find_all_by_account_id(current_user.account_id),         "id", "name", params[:with_status]), {:include_blank => true, :class => 'span3'}%>
 </div>
</div> 
<div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.ticket.priority_id", :default => "Priority") %></label>
     <div class="input">         
       <%= select_tag :with_priority, options_from_collection_for_select(Priority.order(:value).where("account_id = ?", current_user.account_id), "id", "name", params[:with_priority]), {:include_blank => true, :class => 'span3'}%>
     </div>
</div>

<div class="clearfix">
 <label for="xlInput">Tipo</label>
 <div class="input">      
	<%= select_tag :with_type, options_from_collection_for_select(TicketType.all, "id", "name", params[:with_type]), {:include_blank => true, :class => 'span3'}%>
 </div>
</div> 

<div class="clearfix">
 <label for="xlInput">Cliente</label>
 <div class="input">       
	<%= select_tag :with_client, options_from_collection_for_select(Client.find_all_by_account_id(current_user.account_id), "id", "name", params[:with_client]), {:include_blank => true, :class => 'span3'}%>
 </div>
</div>  

<div class="clearfix">
 <label for="xlInput">Projeto</label>
 <div class="input">       
	<%= select_tag :with_project, options_from_collection_for_select(Project.find_all_by_account_id(current_user.account_id), "id", "name", params[:with_project]), {:include_blank => true, :class => 'span3'}%>
 </div>
</div>   

<div class="clearfix">
 <label for="xlInput">Título/Descrição</label>
 <div class="input">       
	<%= text_field_tag(:with_title_or_description, params[:with_title_or_description], :class => 'span3')%>
 </div>
</div>

