<%= form_tag tickets_path, :method => :get,  :class => :form do %>
<div class="columns wat-cf">
	<div class="column left">
	  <div class="group_search">	 
		<label class="label_search">Status: </label> 
        <%= select_tag :with_status, options_from_collection_for_select(TicketStatus.find_all_by_account_id(current_user.account_id),         "id", "name", params[:with_status]), {:include_blank => true, :style => "width: 250px"}%>
      </div>
      <div class="group_search">	 
		<label class="label_search">Tipo: </label>
      <%= select_tag :with_type, options_from_collection_for_select(TicketType.all, "id", "name", params[:with_type]), {:include_blank => true, :style => "width: 250px"}%>
      </div>
      <div class="group_search">	 
		<label class="label_search">Cliente: </label>
		  <%= select_tag :with_client, options_from_collection_for_select(Client.find_all_by_account_id(current_user.account_id), "id", "name", params[:with_client]), {:include_blank => true, :style => "width: 250px"}%>
	  </div>
    </div>	
    <div class="column right">	 
      	<div class="group_search">	 
			<label class="label_search", style="width: 120px">Projeto: </label>
	        <%= select_tag :with_project, options_from_collection_for_select(Project.find_all_by_account_id(current_user.account_id), "id", "name", params[:with_project]), {:include_blank => true, :style => "width: 250px;"}%>
	    </div>
  	  	<div class="group_search">	 
			<label class="label_search", style="width: 120px">Título ou descrição: </label>
            <%= text_field_tag(:with_title_or_description, params[:with_title_or_description], :style => "width: 250px; font-size: 1.2em;")%>
        </div>
    </div>
    

</div>
<div class="group navform wat-cf">
  <button class="button" type="submit">
	<%= image_tag("web-app-theme/icons/filter.png", :alt => "Buscar") %> Buscar
  </button>
  
  <%= link_to "Busca avançada", filters_path, :class => "text_button_padding link_button" %>
</div>
<% end %>