  <h4>ID: <%= @ticket.id%></h4>   
  <dl> 
	<dt>Status:</dt>
	<dd><%= @ticket.ticket_status.name %></dd>  
	<dt><%= t("activerecord.attributes.ticket.project_id", :default => "Project")%>:</dt>
	<dd><%= @ticket.project.name %> </dd>   
	<dt><%= t("activerecord.attributes.ticket.client_id", :default => "Client") %>:</dt>
	<dd><%= @ticket.client.name unless @ticket.client.nil? %></dd>   
	<dt><%= t("activerecord.attributes.ticket.date_of_registration", :default => "Date of registration") %>:</dt>
	<dd><%= @ticket.date_of_registration%></dd>
	<dt><%= t("activerecord.attributes.ticket.user_registration_id", :default => "User registration") %>:</dt>
	<dd><%= @ticket.user_registration.name %></dd>
	<dt><%= t("activerecord.attributes.ticket.user_owner_id",  :default => "User owner") %>:</dt>
	<dd><%= @ticket.user_owner.name %>&nbsp;&nbsp;<%= link_to "Atribuir à mim", change_user_owner_ticket_path(@ticket) %></dd>
  </dl>

  <h5>Alterar status para</h5>
  <ul class="navigation">
	<% @status.each do |s|%>
	  <li><%= link_to s.name, :action => "change_status", :id => @ticket, :status => s.id%></li>
	<% end %>
  </ul>

  <h5>Outras ações</h5>
  <ul class="navigation">
	<li><%= link_to t("bootstrap-rails.edit", :default=> "Edit"), edit_ticket_path(@ticket)%></li> 
  </ul>
  
  <% unless @ticket.specification_id.nil?%> 
    <h5>Especificação</h5>
    <ul class="navigation">
	  <li><%= link_to @ticket.specification.title, specification_specification_fields_path(@ticket.specification)%></li> 
   </ul>
  <% end %>