<div id="list">
  <div id="indexpanel">
    <%= link_to "Home", root_path%> |
    <%= link_to "Cadastrar novo ticket", new_ticket_path %>
  </div>

  <br>
  <br>
  <div id="panel">
	<%= form_tag tickets_path, :method => :get do %>
	  <%=label_tag "Status: "%>
	  <%= select_tag :ticket_status_id, options_from_collection_for_select(TicketStatus.find_all_by_account_id(current_user.account_id), "id", "name", @ticket_status_id), {:include_blank => true, :class => 'select'}%>
	  <%=label_tag "Tipo: "%>
	  <%= select_tag :ticket_type_id, options_from_collection_for_select(TicketType.all, "id", "name", @ticket_type_id), {:include_blank => true, :class => 'select'}%>
	  <br />
	  <%=label_tag "Projeto: "%>
	  <%= select_tag :project_id, options_from_collection_for_select(Project.find_all_by_account_id(current_user.account_id), "id", "name", @project_id), {:include_blank => true, :class => 'select'}%>
	  <%=label_tag "Título: "%>
	  <%= text_field_tag :title, @title, :class => "input_txt"%>
      
	  <br />
	  <%= label_tag "Cliente: "%>
	  <%= select_tag :client_id, options_from_collection_for_select(Client.find_all_by_account_id(current_user.account_id), "id", "name", @client_id), {:include_blank => true, :class => 'select'}%>
	  <%=label_tag "Descrição: "%>
	  <%= text_field_tag :description, @description, :class => "input_txt"%>
	  <%= submit_tag "Buscar"%>
	<% end %>

	<%= render 'list' %>

	<br />
  </div>
</div>






<script>
  $(document).ready(function(){
	$("tr:odd").addClass("odd");
	$("tr:even").addClass("even");
	});
</script
