
  <%= render "shared/error_messages", :target => @project %> 

  <div class="row">  
	<div class="span12">
	    <div class="clearfix">
	     <label for="xlInput"><%= t("activerecord.attributes.project.name", :default => "Name") %></label>
	     <div class="input">                        
	       <%= f.text_field :name, :class => 'xlarge span7' %>
	     </div>
	    </div>
	       
	    <div class="row">
		    <div class="span4"> 
			    <div class="clearfix">           
				    <label><%= t("activerecord.attributes.project.qty_sprint_days", :default => "Qty Sprint Days") %></label> 
				    <div class="input ">
					   <%= f.number_field :qty_sprint_days, :class => "xlarge span2" %>  
				     </div>
			     </div>
			</div> 
			<div class="span6"> 
				<div class="clearfix"> 
					<label><%= t("activerecord.attributes.project.start_sprint", :default => "Start Sprint") %></label> 
					<div class="input">                        
				       <%= f.select :start_sprint , Day::DAY_LIST, {}, {:class => "medium"}%>
				     </div>            
				</div>    
			</div>
			
		</div>
		<div class="row"> 
			<div class="span4"> 
				<div class="clearfix">
	            <label for="prependedInput2"><%=t("activerecord.attributes.project.include_saturday", :default => "Include Saturday") %></label>
	            <div class="input">
	              <div class="input-prepend">
	                <label class="add-on"><%= f.check_box :include_saturday %> </label> 
	              </div>
	            </div>
	          </div>                
			</div>
			<div class="span4"> 
				<div class="clearfix">
	            <label for="prependedInput2"><%=t("activerecord.attributes.project.include_sunday", :default => "Include Sunday") %></label>
	            <div class="input">
	              <div class="input-prepend">
	                <label class="add-on"><%= f.check_box :include_sunday %> </label> 
	              </div>
	            </div>
	          </div>                
			</div>
		</div>              
	    <div class="clearfix">
	      <label for="xlInput"><%= t("activerecord.attributes.project.layout_id", :default => "Layout") %></label>
	      <div class="input">                                    
	        <%= f.collection_select(:layout_id, Layout.order(:name).where("account_id = ?", current_user.account_id), :id, :name,  {:prompt => "Selecione um layout de especificação"},  {:class => "xlarge" })%>
	      </div>
	    </div>
	</div>
  </div>          

<div class="actions">
  <input type="submit" class="btn large primary" value="Salvar">&nbsp;<%= link_to t("web-app-theme.cancel", :default => "Cancel"), projects_path, :class => "btn large" %>
</div>
                                                                                        
