<ul class="tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", projects_path  %></li> 
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_project_path %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_project_path %></li>
</ul>
<h2 class="title"><%= t("bootstrap-rails.edit", :default => "Edit")%>  <%= t("activerecord.models.project")%></h2>
<%= form_for  @project, :url => project_path(@project), :html => { :class => "form-stacked" } do |f| -%>
    <%= render :partial => "form", :locals => {:f => f} %>
<% end -%>

