<ul class="tabs"> 
	<li class="active"><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", projects_path  %></li>  
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_project_path %></li>
</ul>   
<h2 class="title"><%= t("activerecord.models.projects")%></h2>
<table class="bordered-table zebra-striped">
    <thead>             
      <th>#</th>
      <th><%= t("activerecord.attributes.project.name", :default => t("activerecord.labels.name", :default => "Name")) %></th>         
      <th >&nbsp;</th>
    </thead>                         
    <tbody>
    <% @projects.each do |project| -%>
    <tr class="<%= cycle("odd", "even") %>">
      <td><%= project.id %></td>
      <td><%= link_to project.name, edit_project_path(project) %></td>
      <td class="last">
        <%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_project_path(project) %> |
        <%= link_to "#{t("bootstrap-rails.delete", :default => "Delete")}", project_path(project), :method => :delete, :confirm => "#{t("bootstrap-rails.confirm", :default => "Are you sure?")}" %> |
        <%= link_to "Sprints", :controller => :sprints, :action => :index, :project_id => project.id%> |
        <%= link_to "Equipe", project_project_members_path(project)%>
      </td>
    </tr>          
    <% end -%>
   </tbody>
  </table>
             
	<%= will_paginate @projects %>  



<% content_for :sidebar, render(:partial => 'sidebar') -%>
