    <%= render "shared/error_messages", :target => @ticket_sprint %>
	<%= form_tag( save_ticket_sprint_path(@sprint.id), :method => :post, :remote => true, :class => "form-stacked" ) do %>   
	  <%= hidden_field_tag :sprint_id,  @sprint.id, :class => 'text_field' %>  
	  <%= hidden_field_tag :id,  @ticket_sprint.id, :class => 'text_field' %>     
	  <div class="row">                      
		<div class="span8">   
			<div class="clearfix">
			     <label for="xlInput">Item do backlog</label>
			     <%= render :partial => "search", :locals => {:project_id => @sprint.project_id} %>  
			  </div>       
		</div>
	    <div class="span6">
		  	<div class="clearfix">
			     <label for="xlInput">Estimativa</label>
			     <div class="input">                            
			       <%= text_field_tag :estimate, @ticket_sprint.estimate, :class => 'xlarge' %>
			     </div>
			  </div>
		</div>
	  </div>    

	  <input type="submit" class="btn primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), sprints_path, :class => "btn" %>
                
	<% end %>                    

