  <%= f.hidden_field :project_id, :class => 'text_field' %>
  

  
  
  <div class="columns wat-cf">
	<div class="column left">  
	  <div class="group">
	     <%= f.label :user_id, t("activerecord.attributes.project_member.user_id", :default => "User"), :class => :label %> 
	     
	     <%= f.collection_select(:user_id, User.where("account_id = ?", current_user.account_id), :id, :name,  {:prompt => "Selecione um usuário"}, {:style => "width:100%"})%> 
	     <span class="description">Ex: a simple text</span>
	  </div>
	  <div class="group">
	    <%= f.label :role, t("activerecord.attributes.project_member.role", :default => "Role"), :class => :label %>    
	    <%= f.select :role , Role::ROLE_LIST%> 
	    <span class="description">Ex: a simple text</span>
	  </div> 
	  <div class="group">
	    <%= f.label :week_hours, t("activerecord.attributes.project_member.week_hours", :default => "Week hours"), :class => :label %>
	    <%= f.text_field :week_hours, :class => 'text_field' %>
	    <span class="description">Ex: a simple text</span>
	  </div>
    </div>
    <div class="column right">
	  
    </div>
  </div>
        
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), project_project_members_path(@project), :class => "text_button_padding link_button" %>
</div>