<ul class="tabs"> 
	<li class="active"><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", project_project_members_path  %></li>  
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_project_project_member_path(@project) %></li>
</ul>   
<h2 class="title">Equipe do projeto <%= @project.name%>
<table class="bordered-table zebra-striped">
    <thead>                
            <th>Código usuário</th>
            <th>Nome</th>
	          <th>Função</th>
	          <th class="last">&nbsp;</th>
    </thead>                         
    <tbody>
      	<% @project_members.each do |project_member| -%>
        <tr>
          	<td><%= project_member.user_id %></td>
	          <td><%= link_to project_member.user.name,  edit_project_project_member_path(@project, project_member) %></td>
	          <td><%= Role::ROLE[project_member.role] %></td>
          <td>
            <%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_project_project_member_path(@project, project_member) %> |
            <%= link_to "#{t("bootstrap-rails.delete", :default => "Delete")}", project_project_member_path(@project, project_member), :method => :delete, :confirm => "#{t("bootstrap-rails.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
    </tbody>
</table>
             



<% content_for :sidebar, render(:partial => 'sidebar') -%>
