   <div class="clearfix">
     <label for="xlInput">Mostrar na página inicial</label>
     <div class="input">
       <%= f.check_box :show, :class => "xlarge" %>
     </div>
   </div> 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.filter.name", :default => "Name") %></label>
     <div class="input">
       <%= f.text_field :name, :class => "xlarge" %>
     </div>
   </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.filter.model", :default => "Model") %></label>
     <div class="input"> 
       <%= f.select :model, options_for_select(Model::MODELS_LIST), {}, {:class => "xlarge"} %>
     </div>
  </div>
  
  <h4>Configurações</h4>
  <div id="configuracoes">	
    <%= render :partial => "ticket_filter", :locals => {:f => where}%>
  </div>

       

<div class="actions">
  <input type="submit" class="btn large primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), filters_path, :class => "btn large" %>
</div>

