<ul class="tabs"> 
	<li class="active"><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", filters_path  %></li>  
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_filter_path %></li>
</ul>   
<h2 class="title"><%= t("bootstrap-rails.all", :default => "All")  %> Filters
<table class="bordered-table zebra-striped">
    <thead>             
      <th>#</th>   
            <th><%= t("activerecord.attributes.filter.name", :default => "Name") %></th>
            <th><%= t("bootstrap-rails.created_at", :default => "Created at")  %></th>
      <th class="last">&nbsp;</th>
    </thead>                         
    <tbody>
      	<% @filters.each do |filter| -%>
        <tr>
          <td><%= filter.id %></td>
                    <td><%= link_to filter.name, filter_path(filter) %></td>
                    <td><%= filter.created_at %></td>
          <td>
            <%= link_to "Executar", execute_filter_path(filter) %> |
            <%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_filter_path(filter) %> |
            <%= link_to "#{t("bootstrap-rails.delete", :default => "Delete")}", filter_path(filter), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <% end -%>
    </tbody>
</table>
             



<% content_for :sidebar, render(:partial => 'sidebar') -%>
