<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", filters_path  %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_filter_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title"><%= t("web-app-theme.new", :default => "New")%>  Ticket</h2>
    <div class="inner">
      <%= form_for :filter, :url => filters_path, :html => { :class => :form } do |f| -%>
		 <%= render :partial => "form", :locals => {:f => f, :where => nil} %>

      <% end -%>
    </div>
  </div>
</div>