<ul>
	<li><a href='<%= specifications_path %>'><%=t('activerecord.models.specifications', :default => 'Specifications')%></a></li>
	<li><a href='<%= layouts_path %>'><%=t('activerecord.models.layouts', :default => 'Layouts')%></a></li>
	<li><a href='<%= projects_path %>'><%=t('activerecord.models.projects', :default => 'Projetos')%></a></li>
	<li><a href='<%= tickets_path %>'><%=t('activerecord.models.ticket', :default => 'Tickets')%></a></li>
</ul>