
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.layout.name", :default => "Name") %></label>
     <div class="input">
       <%= f.text_field :name, :class => "xlarge" %>
     </div>
  </div>
 
   <div class="clearfix">
     <label for="xlInput"><%= t("activerecord.attributes.layout.active", :default => "Active") %></label>
     <div class="input">
       <%= f.check_box :active, :class => "xlarge" %>
     </div>
  </div>
 
       

<div class="actions">
  <input type="submit" class="btn large primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), layouts_path, :class => "btn large" %>
</div>

