<%= render :partial => "cc_users/alter_password" %> 

<div class="topbar"  data-dropdown="dropdown">
	<div class="topbar-inner">
		<div class="container-fluid">
			<a class="brand" href="<%= home_path%>">Central de Comando</a>
			<ul class="nav">
				<li><a href="#"  id="management" rel="popover" data-content="<%= render :partial => 'layouts/management_menu' %>">Gerenciamento</a></li>
				<li><a href="#"  id="documentation" rel="popover" data-content="<%= render :partial => 'layouts/documentation_menu' %>">Documentação</a></li>
				<li><a href="#"  id="more" rel="popover" data-content="<%= render :partial => 'layouts/more_menu' %>">Mais</a></li>

			</ul>
			<%= render :partial => 'layouts/search_ticket' %>
			<ul class="nav secondary-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle">Usuário: <%= current_user.name%></a>
					<ul class="dropdown-menu">
						<li><a href="#" data-controls-modal="modal-alter-password" data-backdrop="true" data-keyboard="true">Alterar senha</a></li>
						<li class="divider"></li>
						<li><%= link_to t("web-app-theme.logout", :default => "Sair") , session_path, :method => :delete %></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>                     


<script>
$(function(){
	$("a[rel=popover]").popover({
		placement: 'below',
		html: 'true',
		live: 'true',
		trigger: 'focus'
	});
	$("#management").click(function(){
		$("#management").focus();
	});
	$("#documentation").click(function(){
		$("#documentation").focus();
	});
	$("#more").click(function(){
		$("#more").focus();
	});
})
</script>