<%= render :partial => "cc_users/alter_password" %> 

<div class="topbar"  data-dropdown="dropdown">
      <div class="topbar-inner">
        <div class="container-fluid">
          <a class="brand" href="<%= home_path%>">Central de Comando</a>
          <ul class="nav">
	        <li class="<%= controller.controller_path == 'projects' ? 'active' : '' %>"><a href="<%= projects_path %>"><%=t("activerecord.models.projects", :default => "Projetos")%></a></li>
		      <li class="<%= controller.controller_path == 'tickets' ? 'active' : '' %>"><a href="<%= tickets_path %>"><%=t("activerecord.models.ticket", :default => "Tickets")%></a></li>
		      
		         
		      <li class="dropdown">
                <a href="#" class="dropdown-toggle">Relatórios</a>
                <ul class="dropdown-menu">
                  <li class="<%= controller.controller_path == 'filters' ? 'active' : '' %>"><a href="<%= filters_path %>"><%=t("activerecord.models.filters", :default => "Consultas")%></a></li>
                  <li class="<%= controller.controller_path == 'charts' ? 'active' : '' %>"><a href="<%= charts_path %>"><%=t("activerecord.models.charts", :default => "Charts")%></a></li> 
                </ul>
              </li>
		      <li class="dropdown">
                <a href="#" class="dropdown-toggle">Cadastros</a>
                <ul class="dropdown-menu">                                                                
	              <li class="<%= controller.controller_path == 'clients' ? 'active' : '' %>"><a href="<%= clients_path %>"><%=t("activerecord.models.clients", :default => "Clients")%></a></li>
                  <li><%= link_to t("web-app-theme.users", :default => "Usuários"), cc_users_path  %></li>  
                  <li><%= link_to t("activerecord.models.priority", :default => "Priority"), priorities_path  %></li>
                </ul>
              </li> 
		
		      <li class="dropdown">
                <a href="#" class="dropdown-toggle">Configurações</a>
                <ul class="dropdown-menu">                       
                  <li><a href="#" data-controls-modal="modal-alter-password" data-backdrop="true" data-keyboard="true">Alterar senha</a></li>
                  <li><a href="#">Fluxo do item de backlog</a></li>
                </ul>
              </li>

          </ul>  
          
          <p class="pull-right"><span class="label user">Usuário: <%= current_user.name%></span>  | <%= link_to t("web-app-theme.logout", :default => "Sair") , session_path, :method => :delete %></p>
        </div>
      </div>
    </div>