<script type="text/javascript">
    tinyMCE.init({
	        // General options
			        mode : "textareas",
			        theme : "advanced",
			        plugins : "pagebreak,style,layer,table,save,advhr,advimage,advlink,emotions,iespell,inlinepopups,insertdatetime,preview,media,searchreplace,print,contextmenu,paste,directionality,fullscreen,noneditable,visualchars,nonbreaking,xhtmlxtras,template",

			        // Theme options
			        theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,styleselect,formatselect,fontselect,fontsizeselect",
			        theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,blockquote,|,undo,redo,|,link,unlink,anchor,image,cleanup,help,code,|,insertdate,inserttime,preview,|,forecolor,backcolor",
			        theme_advanced_buttons3 : "tablecontrols,|,hr,removeformat,visualaid,|,sub,sup,|,charmap,emotions,iespell,media,advhr,|,print,|,ltr,rtl,|,fullscreen",
			        theme_advanced_buttons4 : "insertlayer,moveforward,movebackward,absolute,|,styleprops,|,cite,abbr,acronym,del,ins,attribs,|,visualchars,nonbreaking,template,pagebreak",
			        theme_advanced_toolbar_location : "top",
			        theme_advanced_toolbar_align : "left",
			        theme_advanced_statusbar_location : "bottom",
			        theme_advanced_resizing : true,

			        // Example content CSS (should be your site CSS)
			        content_css : "css/example.css",

			        // Drop lists for link/image/media/template dialogs
			        template_external_list_url : "js/template_list.js",
			        external_link_list_url : "js/link_list.js",
			        external_image_list_url : "js/image_list.js",
			        media_external_list_url : "js/media_list.js",

			        // Replace values for the template plugin
			        template_replace_values : {
			                username : "Some User",
			                staffid : "991234"
			        }
	});
  </script>

<ul class="tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", layouts_path  %></li> 
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_layout_path %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.show", :default => "Show")}", layout_path %></li>
</ul>    


    <%= form_tag '#', :method => :post,  :class => "form-stacked"  do %> 
	  <% @layout.layout_fields.each do |lf| -%>   
	     <div class="clearfix">
	     <label for="xlInput"><%= lf.label%></label>
	     <div class="input">         
		   <% case lf.field_type %> 
		   <% when FieldType::TEXT %>
		     <%= text_field_tag "field_#{lf.id}", '', :class => "span14" %> 
		   <% when FieldType::MEMO %>
			 <%= text_area_tag "field_#{lf.id}", '', :class => "span14" %>  
		   <% when FieldType::DATE %>
			 <%= text_field_tag "field_#{lf.id}", '', :class => 'datepicker' %>  
		   <% when FieldType::NUMBER %>
			 <%= number_field_tag "field_#{lf.id}" %>
		   <% when FieldType::IMAGE %>
			 <%= text_field_tag "field_#{lf.id}" %>
		   <% end %>

	     </div>

	  </div>  

	  <% end -%>   
	  <div class="actions">
    	  <%= link_to t("bootstrap-rails.back", :default => "Back"), :back, :class => "btn" %>
      </div>          
	<% end -%>                                                              
      
    
<% content_for :sidebar, render(:partial => 'sidebar') -%>

